.bgcolor {
  @include themify($themes) {
    &__header {
      background-color: themed('single-header-title-background-color');
    }

    &__breadcrumb {
      background-color: themed('breadcrumb-background-color');
    }
  }

  &__red {
    background-color: #f44336;
  }

  &__pink {
    background-color: #e91e63;
  }

  &__purple {
    background-color: #9c27b0;
  }

  &__deepPurple {
    background-color: #673ab7;
  }

  &__indigo {
    background-color: #3f51b5;
  }

  &__blue {
    background-color: #2196f3;
  }

  &__lightBlue {
    background-color: #03a9f4;
  }

  &__cyan {
    background-color: #00bcd4;
  }

  &__teal {
    background-color: #00897b;
  }

  &__green {
    background-color: #4caf50;
  }

  &__lightGreen {
    background-color: #8bc34a;
  }

  &__lime {
    background-color: #cddc39;
  }

  &__yellow {
    background-color: #ffeb3b;
  }

  &__amber {
    background-color: #ffc107;
  }

  &__orange {
    background-color: #ff9800;
  }

  &__deepOrange {
    background-color: #ff5722;
  }

  &__brown {
    background-color: #795548;
  }

  &__grey {
    background-color: #9e9e9e;
  }

  &__blueGrey {
    background-color: #607d8b;
  }
}