{{ if .IsHome }}
<header class="header">
    <div style="display: flex; align-items: center; justify-content: center; flex-wrap: wrap">
        <a href="/quick" style="min-width: 100px; margin: 0.5rem;">Quick Start</a>
        <a href="/installation" style="min-width: 100px; margin: 0.5rem;">Installation</a>
        <a href="/configuration" style="min-width: 100px; margin: 0.5rem;">Configuration</a>
    </div>
    <div style="display: flex; align-items: center; justify-content: center; flex-wrap: wrap">
        <a href="/gallery" style="min-width: 100px; margin: 0.5rem;">Gallery Page</a>
        <a href="/contact" style="min-width: 100px; margin: 0.5rem;">Contact Page</a>
        <a href="/talks" style="min-width: 100px; margin: 0.5rem;">Talks Page</a>
        <a href="/showcase" style="min-width: 100px; margin: 0.5rem;">Showcase Page</a>
    </div>
    <div style="display: flex; align-items: center; justify-content: center; flex-wrap: wrap">
        <a href="/customcssjs" style="min-width: 100px; margin: 0.5rem;">Custom css, js</a>
        <a href="/customsyntax" style="min-width: 100px; margin: 0.5rem;">Custom Syntax Highlighting</a>
        <a href="/customheader" style="min-width: 100px; margin: 0.5rem;">Custom Header</a>
        <a style="min-width: 100px; margin: 0.5rem;">b</a>
        <a style="min-width: 100px; margin: 0.5rem;">c</a>
        <a style="min-width: 100px; margin: 0.5rem;">a</a>
        <a style="min-width: 100px; margin: 0.5rem;">b</a>
        <a style="min-width: 100px; margin: 0.5rem;">c</a>
    </div>
</header>
{{ end }}